@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
    --primaryColor: #da1d1d
}

body{
    background: #FFFFFF;
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    background: #aaaaaa;
    padding: 1.3em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: var(--primaryColor);
        font-size: 2.2em;

        span{
            color: #111111;
        }
    }
}

.imageList{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    

    .image{
        width: 40%;
        border: 8px solid;
        border-radius: 400px;
        border-color: #222222;
    }

}

    
.namePlaceHolder{
    display: flex;
    align-items: center;
    justify-content: space-around ;

}

.randomButton{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    align-self: center;
    justify-self: center;
    background-color: var(--primaryColor);
    border: #111111 solid;
    color: #111111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.randomButton:active{
    transform: scale(0.90) translateX(-55%);
}

.instructions{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;

}