.body{
    background: #FFFFFF;
    margin: 0;
}

.noContextMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: #9517cf;
    font-size: 2.8em;

}